%article.post
  %header
    -#%span.metadata
      = date
      -#= " / " + Karakuri::tag_link_list(article[:tags])
    %h1
      %a{ :href => self.path }= title

  %section.post-body
    = body
    %a{ :href => '#', :class => 'signature' }= "&#8718;"

  %section.feedback
    #disqus_thread
    :javascript
      var disqus_shortname = '#{@config[:disqus]}';

      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
