!!!
%html{ :lang => 'en' }
  %head
    %title= Karakuri::seo_friendly_title(@path, title, 'Sergey Kutserubov\'s Blog')
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'verify-postrank', :content => '2u5vtik' }
    
    %link{ :rel => 'alternate', :type => 'application/atom+xml', :title => "SERGEYK", :href => 'http://feeds.feedburner.com/sergeyk' }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico' }
    %link{ :rel => 'stylesheet', :href => '/css/main.css' }
    %link{ :rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Cabin:700', :type => 'text/css' }

  %body
    %header#nav
      %a{ :href => '/' }
        %img{ :alt => 'Sergey Kutserubov', :src => '/images/logo.png' }

    %section#content
      = yield

    %footer
      Copyright &copy; #{Time.now.year} #{@config[:author]}. Powered by
      = succeed '.' do
        %a{ :href => 'http://cloudhead.io/toto' } toto

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6623716-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
